body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(47, 58, 151);
    font-family: sans-serif;    
}


.wrap{
    width: 90%;
    margin: auto;
}

.puzzle-grid-drop{
    margin-top: 90px;
    margin-left: 40px;
}

#grid-1{
    position: absolute;
    top: 0;
    left: 0;
}
#grid-2{
    position: absolute;
    top: 0;
    left: 200px;
}
#grid-3{
    position: absolute;
    top: 0;
    left: 400px;
}
#grid-4{
    position: absolute;
    top: 200px;
    left: 0;
}
#grid-5{
    position: absolute;
    top: 200px;
    left: 200px;
}
#grid-6{
    position: absolute;
    top: 200px;
    left: 400px;
}
#grid-7{
    position: absolute;
    top: 400px;
    left: 0;
}
#grid-8{
    position: absolute;
    top: 400px;
    left: 200px;
}
#grid-9{
    position: absolute;
    top: 400px;
    left: 400px;
}

.mydiv{
    float: right;
    margin-top: 10px;
}

